
$body-bg: #fafafa;
$border-radius-base: 0px;


$font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;


$navbar-default-bg: #ebebeb;
$navbar-default-link-color: #777;



