<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 card">
      {{#link-to 'deployments' class="thumbnail text-center"}}
        {{fa-icon "cube" size="5"}}
        <div class="caption">
          <h3><strong>Applications</strong></h3>
          <p>Control application deployments</p>
        </div>
      {{/link-to}}
    </div>
    <div class="col-md-4 card">
      {{#link-to 'clusters' class="thumbnail text-center"}}
        {{fa-icon "database" size="5"}}
        <div class="caption">
          <h3><strong>Clusters</strong></h3>
          <p>Control the clusters configurations</p>
        </div>
      {{/link-to}}
    </div>
    <div class="col-md-4 card">
      {{#link-to 'instances' class="thumbnail text-center"}}
        {{fa-icon "sun-o" size="5"}}
        <div class="caption">
          <h3><strong>Instances</strong></h3>
          <p>Control the application instances</p>
        </div>
      {{/link-to}}
    </div>
  </div>
</div>
{{outlet}}
